source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharpX.Core
nuget Nuget.CommandLine
nuget FAKE
nuget nunit
nuget NUnit.Runners
nuget SourceLink.Fake
nuget dotnetrdf
nuget json-ld.net
nuget unquote 2.2.2
nuget xunit.runners 1.9.2

github fsharp/FAKE modules/Octokit/Octokit.fsx